<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <a href="https://lh3.googleusercontent.com/kfZhT597cYoGNPkmU3y8HWYTW6lGJMbU2KcQu1OzASUoMeOFlwrglfaCuUoiTYBGUfQcJ88z2mIv5SnqhYB4qQoAP_Kg2vVbJhwA6qNYUt2H8g-ygX-G9EElsw0fEUk4xtOAzTNbNQ=w2400?source=screenshot.guru" > 
            <center><img src="https://lh3.googleusercontent.com/kfZhT597cYoGNPkmU3y8HWYTW6lGJMbU2KcQu1OzASUoMeOFlwrglfaCuUoiTYBGUfQcJ88z2mIv5SnqhYB4qQoAP_Kg2vVbJhwA6qNYUt2H8g-ygX-G9EElsw0fEUk4xtOAzTNbNQ=w300-h185-p-k" ></center>
        </a>
        <h1 style="text-align:center; color:rgb(29, 161, 242); font-family:Roboto; font-size:300%;" >Tweet Thief</h1>
    </head>

    <body style="background-color:rgb(211, 211, 211);">
        <script type="module" src="/search.js"></script>
        <p style="text-align:center; color:rgb(101, 119, 134); font-family:Roboto; font-size: 150%">Enter a Twitter username to generate a fake tweet</p>
        <form id = "form">
            <center>
                <input type="search" id = "searchbar" name = "q" placeholder="Search username" >
                <button id = "searchbutton">Search</button>
                <p id="invalid" style="text-align:center; color:rgb(139, 59, 59); font-family:Roboto; font-size: 100%"></p>
            </center>
        </form>
    </body>
</html>

        <!-- <script type="module" src="search.js"></script> -->

<!--             // function searchUsername() {
            //     let input = document.getElementById("searchbar").value;
            //     input = input.toLowerCase();
            //     let userUrl = "https://api.twitter.com/2/users/by/username/" + input;
            //     console.log(userUrl);
                
            //     PythonShell.run(
            //         'fetch.py',
            //         null,
            //         function(err) {
            //             if (err) throw err;
            //             console.log('finished');
            //         }
            //     );
     

            //     if (input == "aoc" || input == "billgates" || input == "maya_s_kumar") {
            //         //document.getElementById("invalid").innerHTML = "This is a valid username.";
            //         console.log("This is a valid username.");
            //     } else {
            //         //document.getElementById("invalid").innerHTML = "Sorry, this is an invalid username. Try again.";
            //         console.log("Sorry, this is an invalid username. Try again.");
            //     }
            // } -->
            
        