<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <a href="https://lh3.googleusercontent.com/kfZhT597cYoGNPkmU3y8HWYTW6lGJMbU2KcQu1OzASUoMeOFlwrglfaCuUoiTYBGUfQcJ88z2mIv5SnqhYB4qQoAP_Kg2vVbJhwA6qNYUt2H8g-ygX-G9EElsw0fEUk4xtOAzTNbNQ=w2400?source=screenshot.guru" > 
            <center><img src="https://lh3.googleusercontent.com/kfZhT597cYoGNPkmU3y8HWYTW6lGJMbU2KcQu1OzASUoMeOFlwrglfaCuUoiTYBGUfQcJ88z2mIv5SnqhYB4qQoAP_Kg2vVbJhwA6qNYUt2H8g-ygX-G9EElsw0fEUk4xtOAzTNbNQ=w300-h185-p-k" ></center>
        </a>
        <h1 style="text-align:center; color:rgb(29, 161, 242); font-family:Roboto; font-size:300%;" >Tweet Thief</h1>
    </head>

    <body style="background-color:rgb(211, 211, 211);">
        <style>
            .post__avatar img {
            border-radius: 50%;
            height: 80px;
            }

            .post {
            margin: auto;
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--twitter-background);
            padding-bottom: 10px;
            width: 450px;
            }

            .post__body img {
            width: 450px;
            object-fit: contain;
            border-radius: 20px;
            }

            .post__badge {
            font-size: 14px !important;
            color: var(--twitter-color);
            margin-right: 5px;
            }

            .post__headerSpecial {
            font-weight: 600;
            font-size: 12px;
            color: gray;
            font-family: Roboto;
            }

            .post__headerText h3 {
            font-size: 15px;
            margin-bottom: 5px;
            font-family: Roboto;
            font-weight: bold;
            }

            .post__headerDescription {
            margin-bottom: 10px;
            font-size: 15px;
            font-family: Roboto;
            }

            .post__body {
            flex: 1;
            padding: 10px;
            font-family: Roboto;
            }

            .post__avatar {
            padding: 20px;
            }

        </style>
        <p id="username" style="text-align:center; color:rgb(101, 119, 134); font-family:Roboto; font-size: 150%">{{data.username}}</p>    
        
        <div class="post" style="position:relative; left:25px; top:2px;">
            <div class="post__avatar">
              <img
                id="profile_picture"
                alt=""
              />
            </div>
    
            <div class="post__body">
              <div class="post__header">
                <div class="post__headerText">
                  <h3 id="name">
                    <span class="post__headerSpecial">
                      <span class="material-icons post__badge"></span>
                    </span>
                  </h3>
                </div>
                <div class="post__headerDescription">
                  <p id="tweet">{{data.tweet}}</p>
                </div>
              </div>
            </div>
        </div>

        <form action="/index">
          <center><button>Generate another fake tweet</button></center>
        </form>
        
    </body>
    <script>
      var username = document.getElementById("username").innerHTML;
        if (username == "@AOC") {
            document.getElementById("name").innerHTML = "Alexandria Ocasio-Cortez";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/NT9CnfOMb8CoKmVxjd-W8W0BVdh2BZsbb2c3xckueRa07eMLxHt3o0e1l9fr47_f81bAF5fssK1pNZDgptlfkVYXPCLE9s5dd9nfWfHBbPmTwgWllT-Rq5i-SLRCA0Rzu5_QsDTKSqVm5vpEjSxJDp4F6An5HvIG3f4TY0hJYBWglyZFzjCTskyaYin0iPhbTfLjpfeaKqCerRq2hzmVeVcF8o27-UVqARbtty5aeTeF5CLNexMdAuEXbwldraRGMXq04bGQn0yMb4VXPYEEynbECirW20NU0DL-qo2nZGJamwW8GOiN7IqLvC6E-uhQLLROnK_hJpsoq1bFK_dqh9-gLJMpLfJajGofAvMcuGEjmRHuZyJ5yN0AtISJWRxhxfzo-WyR8M0OeWg42sEmnpyLGMIR5etTFRi9mcOmW64dCrs3UGh3FpOBRCR_2nAtoyTNDS7CVitbK4EWGOyNbS21WTBo6dEDmhgo4i_bNHCFB9De86pYTh-Y9RehGVonGMuHQjHWe1Ypr1Pu28sym4YoyevdU_-PRJoiV6Ylm4mQpokHc1GzePZQGnix9H6BJf10JomFwW4XGOb_rrbELu9qL8ZyhCClHINjV_fm-7xcnwk9m9RuIIop1vNYJsBWRsn_CfdVCRBfSDKwuWPc0x51yOLOBLnkzDFZeBzjwgH4UGQa-CRG9i9G-l3bm4Zpd9XnraUhjQaC7G6DuXyHf2so54sJrS7woALjal09uFwDTS4-H7Uv-KUDq62-LPDkFkFKKLw15Ee3l1q-uIA0poaDe1xf4CU79G57=s400-no?authuser=0";
        } else if (username == "@BarackObama") {
            document.getElementById("name").innerHTML = "Barack Obama";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/okV7caKidR_VLixhJxBb0Um5ecVKF6avdDlvtamaSb8ZsudYrQ9DK7YsR-kDPty3bWkuY-_dLVUzS7I0Z1XRX1OZ5vtBd-L-7sgaxUwZ8E4bQCc5sdpLKg492FZkidD6vvfp-H3l0CE4DQr0G4UFyWSL3hM8z-qEhu5jkefBxbYGitb13aSjA8gs02y5GSeCL4yN2SyxAtif67RC3EaDjz9q8byo37ZQJu-0UGm8O1-gqrljMERXyLqw3UVv5B7fijpy6s9Q1ybCBkVEAV5DAt9imhM8jeuSTKs5tIjaULP9qmjzN1Ng8srJMf8CA-Z2nM0cmUVfhQXNgkTsdKYDrRdd5OxLR4U8z2OAooZFNqAAQ4W2MBxaSJq7lxqs9j_-5ZGA2OuqUUJtYeu_EHtlmaRFI1FP6O7AprkaS0f5IalRmqBHzt0AQMRv-43gyefVSVP6x2bmd5jzOyu02D2ePwQtwMrWXeLdM8ihACLBsfFouiUF-ZW95JUMCgfcR570dcvphgisZA1PKu5lkpJfioeY57nvHf9kZzL6l5rgE2oyX3hgBF9C0uovIi31rgaCUEUXmB4UPD9n6s7zTJ7iONeRQkyoUkwWnt56L8BDSL9yZWfeNiZw27QdANBvkMKmZnH5EiJMx_UW3tyz1dO6MVcv-tr2wnO929Cf_006Mt3g5spqvz2CWOHn93gFCdh5jhCOagaTgejMcy0XSJNDZdc0oUJ23oreLF3ilaCvSaSzTnFM6HBmwcpAdk80vVX_Pm90jKSOZ6bJ2MEjDS1L5Ik628k64b_eR372=s400-no?authuser=0";
        } else if (username == "@BernieSanders") {
            document.getElementById("name").innerHTML = "Bernie Sanders";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/dVgH0N2QsgHdG_tNqDe1sZ5vmgpEbe0kAE51U2rTrhukam1oSGDW1Su0oO3e3uQtsaUBwPFmHvalBlW-gGF67__wVEgLCw3uy_IBYPvGNDBlDTqehROcd64NisjI30iQZR8t88p8IXxhT8Pq-C7RhxVfaun_5MPf8mimzM0i-rzOD_zrVkwUcpW5K3k_lyh-Vq0lNFyIwEVN5Re6drRio-Oz1qCHHGd_NIy2bXhy-xo_wo_fe3bqFk7uaLLIfi5BvJoh0T6dWO6uEEeX8ehFkcGy-UBYH7ibjgxsdyaBuOMb7muW6JMM1C6QnsJPlU0vGXHTJYCGjNyeo4j36SaZw-yTfz_mKM3Bkom5KEw8elclIBmEPst1aB26enSSdmu8qCUlwOZSC4uGrS5EfBmF1vPsr7Y9YuQJDfZExPIK9NfTmaD0OKSJ1vgT76iCnDJyZ2Sk247GxBpaJRcjcCSAZKgX1wVBBTsQOpSrMv7stVKBF4FP5BTQv7IRELD2kPKk4BsqziGhQfk1Zyd4FaPapuTe8_d3JOPxSPT0oFImHhIwgE2m9MrX9R9PUQpA5WOvsi5UchHYjRSdNVy4KZwEwdqyRt2RYUqyLAS53qGkZRMzmdCytP7bm16HJLypdfEDoiFGxsSyogJ5rOxEzDI3YiPSGzIkCqP8vI51xXf09xsCfjn09NKBS_CMwytpYZDtsxa9nbJAqr8siHhdugv8-C1Mj61JWoFycrgklF6q5pz3DIBxbJ8U36OMFhuAwWY2-fTTsdwlqhKGLdZgsRBdvn_IwPefgL1QjBgW=s400-no?authuser=0";
        } else if (username == "@BillGates") {
            document.getElementById("name").innerHTML = "Bill Gates";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/POHvzGvx7PSIKSB5VSg32j7oOno30jogkp15uVil5Tx7ksFPJCNlQ3y4v1h5sc-ojoeYYP1vcSzLqlEFSId_EhEDGbq-Jd5vxX3xQmeWqonzsZBhecp4aqAIPtOga0jmXEuCrv_l4OHdym7B5MA5NYP3Umbrgcl2p1KxIL98gTj-cbQLhtO2gdb_n_MZlKk15mSvD3Olc2KpcqaPSH19_MWHAnTakNZ2aMCDXXD0W9-SkfaprTXtREIy5HLi3xOozPYHcjlSS9ZwtxBPTQitzOHugabNw0O5IeyWeVFsS7UVWzwPaNYDhBuUQzTvA02kngBUBbZDWfFa9stseqVUsQSUlUH46RBZOT8HVSQtoIlZl4bqiUcmA-8c1YpQkpse9KWQlfZTRTI6YxtlnS6V2znmrNXmfU_knvuIeiNknjY81x1ndwEUOrZQhuAfHKRqtdfj4o9e-F2omJojbEJkFunlIoyCPEJRVZ86yQXBYlI10tmFxfy4AoCkVyYfHRM88SEjzrtQo8Ck3vlB3uoYZAkdEIyqpiQXsfGAXBgTnZxM4VWru4cHLGVeCtDyyRukvLcMZ5i-L2N6Sw-KWEu7opMciRxrs4PD5dD8iZxUeg-G8nWT_mAKgAWKUwLo0BX80sbBKIkgTc9f6DzEQvbjVm5Nl_TU1W87H4BICZ5RKSCOGPf4gixqNK_aQxbhT2dzdRZnA9rAWDXBm8AiB3rlySE9NJRaYwGjchFiykdDMDy7Gs7z5qUvhqNl0Acf7MdxxVPz6AMYgaOe6_4lOswnAgLyUqcoDI_cjB-_=s400-no?authuser=0";
        } else if (username == "@LindseyGrahamSC") {
            document.getElementById("name").innerHTML = "Lindsey Graham";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/Xj4gU1Z3wfFFQ2AuSQqlMftuO9p7e1i6uxoTK5msTKpVTGf8fGCrhYGKORkZe2NDjsBMuUHlYvwlC_nZFsa6rrYJ62bvutceHm5AT3YUhSerox05aoVFaLnjTmQTXPtylAnJBFm9YTAVaIHSq8gPkTEtKOp3FsqVxIg60V-f2NLFYglA3kKjPKyIzLdbZS9egSga8UQICOClr0D1syBNcJliIToaclmgbZrBkGHDNgC7TC7SCMD1N9OoJZIDSig0v07CBPKR_UCxyrizCq7-fkidzKhgUc-CtzvBf4Fjcfq9tvy9UzrfrOLs4gh_dWud58yUYt3reox3iXLravQXqx68i34YDY91wfFR_0Z6WmaEmNrMaqHYoh-yA67hC0aZeOjJQ5JFdtlPjoOmHcx3N58_EvbZ49VTy1vJTDjnX5JuuP96y6SAetj9u6n3r58F53QoY_ZUGVD7pPQ4sYYBaAEq9dEkETcbcPqFFKYCNVwekr4xl4RhIibIVILqbjvYpTr7a5hhFz_afk-bx5Ep7zmO6AWioJ9_nwbwn4K-zsSGL6fcwRrjHNM4ID0d19M9ep-0Fy0iYkkgdsulFPBhW8vzdeD4utP7dDIoBpDl34cEBoz8LwGNRfiaA0OKoriWwkMtNIr-Hm4wHeNbthJfGRBmymmN3R1R7VB2UdRbdxgPs4fsm9usPwnbbmxRxFQmrycMGl5FTMzFLVVP6_yB3FNIrZA1oWMlJW5b2ezA1j_V-h-Gkk8l_O0oD_pnJPy4ZaqAKt7oGTXJ2f4Pw3D4XdLny8ofi7bCi52o=s400-no?authuser=0";
        } else if (username == "@LeoDiCaprio") {
            document.getElementById("name").innerHTML = "Leonardo DiCaprio";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/Y2UEu3F-SLFas39Ax9aJI764GGtnlRpxzPNprmOGKFpI5oixTjjOkZamhpmb1_TmIhuPPezKJi0XJHxr7B5lmSMbh3kNLJ4Mt9aQ-BJrfUUSXasOHMvT2u8pO1cTWAL4h4Tm38Z7ruF1u9KntUNebrkEb8X6-QwXHBtbIQNoBlSZ_vLs8nAl1cvlul5NFc342LoiuIv5v5u7c_Q9P9aCXdiN7KzhBmiiqxb_9RkbMhf7igR_SWeC39ReJsauLuE8wFZkpD5kqqnmkzcrTCYQEPuuEAiHMHGMKtQw_cVeueM6cC3bCdj23rCC3aOsy0vjlh-cwD5PMdxD3mmD9aCjIqVbfy0WMBFKO5vrgo1fXUXJ2q79EhRnDisuATllnnOJ8A8jFoekXc_xgy7Nxf6yJqgODxGFW1E8eSy_QKeaidDiLx3e1hTrgKe1SjqX2me_beRW7iJjDmG0U0DVxRx6MKYgzlTOoM7bXQBjMH-glc4ALGG0lqtfdeXYeIYr1iCWZYFJ79E-RMIXYL8j8wkTbLbizG0nfuMzcr_heuTigIkNRBhL0tMvI1NuomopYJypyEQ65I3pVwubXA1qBpXKdFmQhndXmBS5ULU5IHU53gwRU7b-W-iC0tz79O8iA9uW7kH-f2rEtz0qPFxsNVE8dLLtpyFmV0ACg4tKxE_oqK4k5733KX1CeTMzb3NcKOt02d--R9QuAJ5wZrVv5WIZxp970U74ka55gKUpSGnsm0i0IcUsor04jQyO4k0vIc12jc3mGthBfMEiH2S88X-vG25UPlAE9YH5DuSp=s400-no?authuser=0";
        } else if (username == "@SpeakerPelosi") {
            document.getElementById("name").innerHTML = "Nancy Pelosi";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/6FRhG0v9QGQVgLUAEa5Xy9HQvvHl006v09h2berFDB958usH704_12qZnA_hulckqYo_r-3cCSaRQv44C7Zj45x7-zwscpR3TFGZn5vl-TL-YQx6PBZPYpiOUMg13pvCHdfK9OPWFiN7Z1WPtVmkS26vyPrI0K2t0SfHT0XPOFm0h_fQ1I6zfpqCmi0mPgE1e3aCSnMZZdOEpKCZukTpIF5MpMGSzFoqvJLMX0qR_pWV4PS91TQ7j1PQQGvMefCqFXwZjMFP-6uJlgnBrTCX6H5MRNCqt-nv6LK99VENt4pkZN9KwwQexTaQhdHluwi1ZG9RR2bLaJ1SZmsvF-FsjAhqrUAs23SIdm11AG32P3u5vOqCSSJTys-4iSUtjHqIYcbYeeN2EptUvgj5ee5ft54K0ygDV21QNVhGOb9lP8-YSOFJzfAbsDlVNQybCAA0gq6VRno3_I6gHYzzPTJKiqQr4l4Dc9JSgRy2vBLmz52aFa2eiWhB_0USw8-CucJr_ASEKygjdezQY5spuMLBHsEzP71NiNMMlXpG4ZuMGRPGzGImBBdbtXCQ6so5Q-dWHQ5OzTJ7HCWIVkWIKetlvBj2idTFlME2gVKA5f7V354mm-gGfvChliDp7tDne7_AcI5m2X7U8kKmGkmoH5JfJ9MkYST0EYWfjnpYAS2b9B8NLTEh41SybrP77Nz326WnysqwH99nhjFPvapRspnLK_oUgLEF3uEEfPDTMZ7ll1qOD0c4hEguoZVZARmwLZNFkY-dBZ9MctWYuHxBYln9uSUXqtdSW_iYp7HJ=s400-no?authuser=0";
        } else if (username == "@MarshaBlackburn") {
            document.getElementById("name").innerHTML = "Marsha Blackburn";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/7oW-cskbbMYWeAAyKTOiY8VK0ojmHxktQjX-uWGbUhWsozMGEGSoeTqKmsZX9HB-UExWjL04YnevQRzhXQPSw5JORIrOO_g0wzrw7X6xESNJsYsVKPMiOcxI2JqftL9TFOmKjy-iIfZiSCpynmkegZ2lXHNPetgnvCKPIb4vvNtsXuq4f4IiPhGPP-uNnfGkzs3dsVsNgQB323wriQhsE__I9gJQu5T2a2Xw78LcITDPgH4_WrlYPDnaTwXTAtQjaJDB6HFpskvOKAi1vCj9ES10S3dQFOmaNJZU1YxALu-Hdp6U6TJVhVWcGdQcRe3MY2RXAEljvkctrdw4wrZwHcup6eipyr8RJJwqtDOPNCLSt-DCZylZ-cLpmKfEiDS_zIq2gzYBsjTr_uWJfBauLj3s9M4WTXFT38xldu-DiFd0eNtDvlOdcGEYrMRK5h9SpuQdqc-H2r1lSNpvm1dLGKIbUt6Xi9DNfdOMEw2YDtx0wcsrlSojbbK4p2wOq8np2xce8ubUUf4YrAdSU31E-gJn5QHDozYWfowjRARazjQqZBtn0uE_k2nBvidkxyI1hfmcQL547pTni93abFOAL7BgTnn-ojO21fFtq_FatuWZHJSrLE8BwPKhdFJuyeeixZam-rY6jWusYku0OI4dciCd_WMK9dEQCIn95X74BRdOpOUf9-PsgXY5ljD4TOhXhnZJjqrCHbR_Qg4y-xjM85P6X4CJ9byQ6wc1I9A3s8d665qZADfGeNM93mHwXq-irpe-FI1gzJO8NY0xqJ56pxdkBXzLNuQ72fzD=s400-no?authuser=0";
        } else if (username == "@melindagates") {
            document.getElementById("name").innerHTML = "Melinda French Gates";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/JnqNe2oH6JNFCEiwG1WYLOZ7WbnwCETPZgU59OuYVKtCt5XFvUTVrTJgFJ6enKtdxmzFpWKRKhAjyiW9gzijBE_QYwXiZm6G-LMtvQd7eZKia3xYrJ_S7PjjziBo70BajJvyYksQOcsbwo_-z8hJcUF5OjDjHRfJoxiFTnqVgtAkn_cufOc6T3P8wCvaiqiG0nFubRFvevG7O4xp7m1CXfZvA8PaX6f2QMcfI8A622AoXTXbM9ZMASq_6gmt_Q-T_0qTQbDYJHJEGlhxFfsQRSBpZGuMNnZfILSagasD3M_Pc8ttRxAAY9WUumqqb5I0BhZ_M15sRYtwJfUGJjg8t6tnNKcvZKN9YZekqshRdS5bh5B7el2XBIh-UM4e-frmESyFJbYOWJ3LLFANfQ5f9eldic6pPwnYs_uANFQGEIA7uirMP_U4DY8V6uPHmin08YjkKgjaN2J_HclYboNI9kEj13_lUz3F-LJACL2Y4IqXu6kQffBKaFBYf0L7cpubzAYKxE8AkdO8doLm6mtmPrzyV8IgDXDpWSIRaywL-e3JLMoobHXTZyAKHj17gJX3OfuLq1LZuH1ZzyuUY3vkTyERS2WG-PFtgdE84hshafpcjlYI9mKF1nnfQsFmL56d_3uxkwtOasHqJ3ZMhjus5-2o7ranw8o78ooAR3T6PAxeA4eiZUkXcVODlCItpzIE3GgTICN6O5zYifTQy_-smFQJWPGGvH1GVt6hBISnYXt7N6i7Xcx-Z8mSEFABMKwegrgjMc7FcN5MGir0GA0H0wUV8U4smKlf4EKO=s400-no?authuser=0";
        } else if (username == "@BorisJohnson") {
            document.getElementById("name").innerHTML = "Boris Johnson";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/eqljggTZzOlR4nJ8vp9gUUzDrl9zbDSxIPTukZjH5hEa_tZWJBqFsGag37PZ5ro_4yx5_ZNXignNEo7r_faAcgifMaGLN5QIuIPzTdEQKMlB-V-oqj-pCMwjLOKoSTaZX-wNjjK4oEofJajRj7-39PZaNDVBE1Xvsjxby4ljw95Lvus-dpLQQtBLAJ46yzq7UiHNLo86pTeCswxMfQNmp0ON915et03tpsxFJpQ2YBazJbiDcfq09mGLz1zFR2zuk0y793YMLJRfWBnh5J3b5LIhH21GDDzcmww9rQLr-YyIBoKEj5TSH80M2THgjSEE1JH8UVrHVQ-Qw-U2g7XmtYNxnUbjAA6Qn6f8tBSX-cY06jLTJSQ4j_hu5qIST5uSKm_QaxeLoBH7T4Zv7CjdrjVh5zQq0NSJaKmSHLB0R7PQfGPCkIw4nn-nRku0EkEIPBavydc9I-NOKI7cfAXxMky-FB89aoXEBKcrjRW72RNpbvAF-WfHlGCHiuVJaT67NeEF7_FRhht1RKOkyF--RFohSqe1n1fShJo8truQGFWDEXbXRnBh2R8NyveTE82xrltm9ht2Rw0sAUogqN7e7JGePd4o7V6pwC-QpmO3Pt4IdC1_5pNZIoAPrEvf0MjtzMD71dk5rmULEhVddQNB5WPXO7Kz9saqL9vLugvfAWxBVMykuQkBcGIb4dpNsof9x1PS_3bSZLbXpTWy5HdfnWBFVqoNgIknPaIFPKF5dQaRmJmCbPPLUdBjUbSZZhVTk0pj7DyvQ9wj_v_LpPk6uNaF7nqYhOMghGVf=s400-no?authuser=0";
        } else if (username == "@GavinNewsom") {
            document.getElementById("name").innerHTML = "Gavin Newsom";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/rMQE4nirirOoRL4hDKD-HWmIa3Vn9Tqon7ssV4OorXsA60_GBIqp4vXPx6kNNwoaSNycr0cSEtjKVWLB489ZyiFIkUYZSm3jbSF-deIU29TSW_-akbFUct2ZBhEpaoCQmLiviU8KL9hnKHdWdySl8dxP6WsmBiJmcIZffaSC8jOjNCEjX2dYNxiKW3Z5-BelxJ-iDCDEV_JYNtKni-I7Ehef1nYo3QVWhFoZymuaK5102tI9YfQ33GghBNyd7-eWb9_7QKOsVGoLNBpvNzC5jfJM3r-fUBO7UKQm-jo4F0mHC0R8jAQl8nE5S7XrEn7Oam9_hFPtw8zE_4M5GquRhXyNIPBGL9rtvi2RjkRTMlcYqOS4fz5V5HsN9A---dRjNMd1MP8CCHJ0H9O64ga1xEYtupm_D2CcH3xiGueIWnBqEU2iVJAUDk6DO-myNRQhzGqnuv34fwh_cUiSNw3qVyjdDJtD6nfHfMxtnh_T1dZXK8MQyQbUsewmpnoIYPjYTWlPD3RsZPuj7wRPG8-Jc7Kju7yueeVugF9f9qzagNbATPIiVntYLh3r5w7N2YjPBJKY_a-3--AE4OPhMc_-tON0Sq5ODUKI_N8OK_io9thGm8NU_4bGHTGfOJ6tbL3382swNyHJAa9a68fJMkKONhaa7G2mNn-kv8Uqbt3hrrS26xtYgSe9zef6lZn6IvJxWUfRQmXYYWP6hphRJ8BAmYsiGi2kQPP0pxwVEq5CePLgHau53kSWcdMTlyCb5sgFQhk_dZwJ3VPe68eMGoPv24NkjzN4BmcRjWqI=s400-no?authuser=0";
        } else if (username == "@VanderbiltU") {
            document.getElementById("name").innerHTML = "Vanderbilt University";
            document.getElementById("profile_picture").src = "https://lh3.googleusercontent.com/ykSQ55Qoh3_fE75zOn1XxX8j4QbMOn1437m_2ciALxGmHiSis8nMCkuktpfvmH_mXUqTHw_0Qs3KyKscEMEYgTX2EYXp89BORgT8qoUyn7SPOiumUlStibIJksz-qa_YdU--5SYPcPMCc8tf9Jthey45RuK5HFJL-vGX-9960Wu1Vva0kB5IPcC3USUG9f2FteL8wveB-ik0C_ae4TGAtR8vzeee0mqKX8BAn9EcxiDkgDeg8fjGK_LZzDlg68rqQgXIuykJXq2fy8bpPppyjFWbY7jE0NxmtPeB3dL-IVeMJyQZByIhfgJ0rEzvUfofYt4d74zE9XgLQGbD0z_fldzbeQ62XI1WSQzJODAcHwefrbn6WGFKLlCN-q0kpN7uFzeuWsQ71zMPWCU28jreZ_YkHfr53uKKBSKjdTfePi6akrnKogP7b36GNt5odJNyXU__t-xvp7A1xyi1ivGckQH64ot7csnto4Dy5XK8ZXCbhnXr-QAEsS7Yn_oiySeC3aDOxJlldPjfngPzOZXNplrj2Gr1Cd4-M0SsswXyyd6BQiWTwsQhppNLx4vivbgp6O0JTYhB7TzTcJh7IWAn2SNxjj3Tjewx1poISShU_FMI958w_Sniax3NzbkRGAvX3jNx8goL4o2gNlYkkNddsgzLdMxkY9HgRARcCacqdX5eIcFZJzgCsUnwn5xHCSgoKOHK4GmGU0n-KoscUEyD_x9tBHsjvIYOo5-Hae_owTEnkd28mXbKT9vzYdKLrgl4B2u6uAhd1WdHnSSLKQan1LgkEa690WXGw7Qx=s400-no?authuser=0";
        }

        
  </script>
</html>  